#title {
  height: 35px;
}
#toolpit {
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#too_button {
  font-size: medium;
  color:black;
  
}

.full-img {
  width: 180px;
  height: 260px;
}
# {
  width: 180px;
  height: 260px;
}
#button {
  font-size: 16px;
  height: auto;
}

.my-pagination /deep/ .ngx-pagination .current {
  background-color: #bfc929;
  font-size: larger;
}
