<div id="container" class="block">

  <a href="/"><img class="full-img" src="{{getSrc()}}"></a>
  <a href="/">
    <h4 id="title" class="margin-bottom "><strong>{{ ebookModel.title }}</strong></h4>
  </a>
  <div id="toolpit" >
    <a id="too_button"  data-toggle="toolpit" tooltip-placement="top" title="{{getAuthors()}}">
    <h4>{{getAuthors()}}</h4></a>
  </div>
    <h4 >{{ebookModel.price}} zł</h4>

  <form class="customform s-12 margin-bottom2x" action="">
    <div>
      <button id="button" class="button rounded-btn submit-btn s-12" type="submit" (click)="onClick($event, ebookModel)">
        {{buttonText}}
      </button>
    </div>
  </form>
</div>
